<template>
  <div>
    <Logo nav="cliente"/>
    <div class="margin-container">
      <h2 class="text-center">Agregar espacios a {{relacion.name}}</h2>
      <h4 class="text-center" v-show="showData"><b>Inicio: </b>{{fechaInicio}}  <b>Fin:</b> {{fechaFin}}</h4>
      <div class="form-wrapper">
        <section class="page-section" id="filtrosbusqueda2"  >
          <div class="container">
          <!-- <div class="row mt-5 d-flex justify-content-around"> -->
            <div class="row">
            <!-- <div class="w-100"></div> -->
              <div class="col-lg-12 filtrosbusqueda-menu">
                <div class="accordion md-accordion" id="fb-accordion2" role="tablist" aria-multiselectable="true">
              <!-- Accordion card -->
                  <div class="card">
                  <!-- Card header -->
                    <div class="card-header" role="tab" id="headingTwo1">
                      <a class="collapsed btn-item" data-toggle="collapse" data-parent="#fb-accordion2" href="#collapseTwo2"
                        aria-expanded="false" aria-controls="collapseTwo2">
                        <h5 class="mb-0">
                          Resultados <i class="fas fa-angle-down rotate-icon"></i>
                        </h5>
                      </a>
                    </div>
                  <!-- Card body -->
                    <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo1" data-parent="#fb-accordion2">
                      <div class="card-body">
                        <!-- <h3 v-if="locales_count > 0" class="mx-4">Resultados</h3>
                        <h3 v-else-if="espacios_count > 0" class="mx-4">Resultados</h3>
                        <h3 v-else-if="institucionales_count > 0" class="mx-4">Resultados</h3> -->
                        <!-- <div class="w-100"></div> -->
                        <div class="" v-if="locales_count > 0">
                          <h5>
                          <b>
                            <span class="badge badge-dark">{{locales_count}}</span> Locales
                          </b>
                          <a href="#" v-on:click="resultadoLocales()" class="text-danger">
                            Ir a la tabla
                            <i class="far fa-arrow-alt-circle-right"></i>
                          </a>
                          </h5>
                        </div>
                        <!-- <div class="w-100"></div> -->
                        <!-- <div class="" v-if="espacios_count > 0">
                          <h5>
                            <b>
                              <span class="badge badge-dark">{{espacios_count}}</span>Espacios
                            </b>
                            <a href="#" v-on:click="resultadoEspacios()" class="text-danger">
                              Ir a la tabla
                              <i class="far fa-arrow-alt-circle-right"></i>
                            </a>
                          </h5>
                        </div> -->
                        <!-- <div class="w-100"></div> -->
                          <div class="" v-if="institucionales_count > 0">
                            <h5>
                              <b>
                                <span class="badge badge-dark">{{institucionales_count}}</span> Espacios ooh
                              </b>
                              <a href="#" v-on:click="resultadoInstitucionales()" class="text-danger">
                                Ir a la tabla
                                <i class="far fa-arrow-alt-circle-right"></i>
                              </a>
                            </h5>
                          </div>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <!-- Card header -->
                  <div class="card-header" role="tab" id="headingTwo5">
                    <a class="collapsed btn-item" data-toggle="collapse" data-parent="#fb-accordion2" href="#collapseTwo5"
                      aria-expanded="false" aria-controls="collapseTwo5">
                      <h5 class="mb-0">
                        Markers <i class="fas fa-angle-down rotate-icon"></i>
                      </h5>
                    </a>
                  </div>
                  <div id="collapseTwo5" class="collapse" role="tabpanel" aria-labelledby="headingTwo5" data-parent="#fb-accordion2">
                    <div class="card-body">
                      <div class="row">
                        <span @click="FitradorToggle">
                          <img src="https://img.icons8.com/ios/30/FF5733/marker-filled.png" alt="Filtrador">Filtrador
                        </span> &nbsp; &nbsp; &nbsp;
                        <span @click="CoordenaCampaniaToggle">
                          <img src="http://maps.google.com/mapfiles/ms/icons/blue-dot.png" alt>Coordenada de la campaña
                        </span> &nbsp; &nbsp; &nbsp;
                        <span @click="LocalesToggle">
                          <img src="http://maps.google.com/mapfiles/ms/micons/orange-dot.png" alt> Locales
                        </span> &nbsp; &nbsp; &nbsp;
                        <span @click="EspaciosOhhToggle">
                          <img src="http://maps.google.com/mapfiles/ms/micons/purple-dot.png" alt>Espacios ooh
                        </span> &nbsp; &nbsp; &nbsp;
                        <span @click="LocalesAToggle">
                          <img src="https://img.icons8.com/ios/30/FFAC33/map-pin-filled.png" alt="Agregados">Local agregado
                        </span> &nbsp; &nbsp; &nbsp;
                        <span @click="EspaciosOhhAToggle">
                          <img src="https://img.icons8.com/ios/30/442390/map-pin-filled.png" alt="Agregados">Espacios ooh agregado
                        </span>
                      </div>
                    </div>
                  </div>
                  </div>
                </div>
          </div>
        </div>
          </div>
          </section>
      </div>
      <!-- filtrosbusqueda -->
    <section class="page-section" id="filtrosbusqueda">
      <div class="container">
        <!-- <h2 class="section-heading text-uppercase">Filtros de b&uacute;squeda.</h2>
        <p>&nbsp;</p> -->
        <div class="row">
          <!-- menufiltro -->
          <div class="col-md-3 filtrosbusqueda-menu">
            <!-- <h2>Collapsible List Group</h2>
            <p>Click on the collapsible panel to open and close it.</p>       -->
            <!--Accordion wrapper-->
            <div class="accordion md-accordion" id="fb-accordion" role="tablist" aria-multiselectable="true">

                <!-- Accordion card -->
                <div class="card" style="width: 16rem;">
                  <!-- Card header -->
                  <div class="card-header" role="tab" id="headingTwo1">
                    <a class="collapsed btn-item" data-toggle="collapse" data-parent="#fb-accordion" href="#collapseTwo1"
                      aria-expanded="false" aria-controls="collapseTwo1">
                      <h5 class="mb-0">
                        Busquedas <i class="fas fa-angle-down rotate-icon"></i>
                      </h5>
                    </a>
                  </div>
                  <!-- Card body -->
                  <div id="collapseTwo1" class="collapse" role="tabpanel" aria-labelledby="headingTwo1"
                    data-parent="#fb-accordion">
                    <div class="card-body">
                          <!--Label buscar por km-->
                          <!-- Label -->
                          <div class="" id="ddmunicipio">
                            <label>Buscar por km</label>
                            <input v-model="search.radius" type="number" class="form-control" min="1" max="9999">
                          </div>
                          <!--/Label buscar por km-->
                          <!--Label Buscar-->
                          <!--Label-->
                          <div class="" id="ddcolonia">
                            <label>Buscar:</label>
                            <input v-model="search.direccion" type="text" class="form-control">
                          </div>
                          <!--/Label buscar-->

                    </div>
                  </div>
                </div>
                <!-- filtro de tipo de espacio -->
            <div class="card" style="width: 16rem;">
               <!-- Card header -->
                  <div class="card-header" role="tab" id="headingTwo2">
                    <a class="collapsed btn-item" data-toggle="collapse" data-parent="#fb-accordion" href="#collapseTwo21"
                      aria-expanded="false" aria-controls="collapseTwo21">
                      <h5 class="mb-0">
                        Tipo de espacio <i class="fas fa-angle-down rotate-icon"></i>
                      </h5>
                    </a>
                  </div>
                  <div id="collapseTwo21" class="collapse" role="tabpanel" aria-labelledby="headingTwo21"
                    data-parent="#fb-accordion">
                    <div class="card-body">
              <ul class="list-group list-group-flush" id="list-ocult-espacio">
                <li class="list-group-item">
                  <div class="form-group" v-for="option_tipo in ooo_tipo" v-bind:key="option_tipo.tipo" >
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="gridCheck" :value="option_tipo.tipo" v-model="search.tipo">
                      <label class="form-check-label" for="gridCheck">
                        <div class="crop align-middle">
                          <img class="ico-filtrobusqueda" src="@/assets/img/filtrobusqueda/ico-muro.jpg"
                            alt="Muro"> &nbsp; {{option_tipo.tipo}}
                        </div>
                      </label>
                    </div>
                  </div>
                </li>
              </ul>
                    </div>
                  </div>
            </div>
                <div class="card" style="width: 16rem;">
                  <!-- Card header -->
                  <div class="card-header" role="tab" id="headingThree31">
                    <a class="collapsed btn-item" data-toggle="collapse" data-parent="#fb-accordion" href="#collapseThree31"
                      aria-expanded="false" aria-controls="collapseThree31">
                      <h5 class="mb-0">
                        Giro <i class="fas fa-angle-down rotate-icon"></i>
                      </h5>
                    </a>
                  </div>
                  <!-- Card body -->

                  <div id="collapseThree31" class="collapse" role="tabpanel" aria-labelledby="headingThree31"
                    data-parent="#fb-accordion">
                    <div class="card-body">
                      <ul class="list-group list-group-flush" id="list-ocult-espacio">
                <li class="list-group-item">
                  <div class="form-group" v-for="option_giros in giros" v-bind:key="option_giros.pk">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="gridCheck" :value="option_giros.pk" v-model="search.giro">
                      <label class="form-check-label" for="gridCheck">
                        <div class="crop align-middle">
                          <img class="ico-filtrobusqueda" src="@/assets/img/filtrobusqueda/Mupi.png"
                            alt="Muro"> &nbsp; {{option_giros.designacion}}
                        </div>
                      </label>
                    </div>
                  </div>
                </li>
              </ul>
                    </div>
                  </div>
                </div>
                <!-- Accordion card -->
              </div>
              <!-- Accordion wrapper -->

              <div id="btns-accordion" class="text-center">
                <a id="btn-fb-accordion-apply" class="btn btn-danger btn-lg btn-wide text-white" @click.prevent="searchEspacios">Filtrar</a>
                <br><br>
                <a id="btn-fb-accordion-delete" class="btn btn-danger btn-lg btn-wide text-white" @click.prevent="ResetEspacios">Borrar</a>
              </div>

          </div>
          <!-- lugarfiltro -->
          <div class="col-md-3 filtrosbusqueda-lugar">
            <!-- Card -->
            <div class="card booking-card card_seleccionado" v-show="show" @click.prevent="detalles">
                <h4>Seleccionado</h4>
                <!-- Card image -->
                <div class="view overlay">
                  <img class="card-img-top" id="img" @load="card($event)" v-bind:class="imgClass" v-bind:src="imagen" alt="Card image cap">
                  <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
                <!-- Card content -->
                <div class="card-body">
                  <!-- Title -->
                  <h4 class="card-title text-uppercase text-center">
                    <!-- <a  @click.prevent="detalles">{{card_datos.nombre}}</a> -->
                    </h4>
                   <!-- Text -->
                   <p class="card-text text-center">{{card_datos.municipio}}</p>
                   <!-- <p class="mb-2 text-center">$ 6547.00</p> -->
                  <!-- Data -->
                </div>
            </div>
              <!-- Card -->
              <p></p>
            <!-- Card -->
            <div v-if="locales_count > 0">
              <hr>
              <div v-for="(locales_data, index) in locales" v-bind:key="locales_data.pk">
            <div class="card booking-card" >

                <!-- Card image -->
                <div class="view overlay">
                  <div v-if="locales_data.foto">
                    <img class="card-img-top" id="img" @load="card($event)" v-bind:class="imgClass" v-bind:src="locales_data.foto.src" alt="Card image cap">
                  </div>
                  <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
                <!-- Card content -->
                <div class="card-body">
                  <!-- Title -->
                  <h4 class="card-title text-uppercase text-center"><a  @click.prevent="clickCardL(locales_data, index, 'L')">{{locales_data.nombre_comercial}}</a></h4>
                   <!-- Text -->
                   <p class="card-text text-center">{{locales_data.direccion.municipio}}</p>
                   <!-- <p class="mb-2 text-center">$ 6547.00</p> -->
                  <!-- Data -->
                </div>
              </div>
              <br>
              </div>
          </div>
              <!-- Card -->
              <!-- Card -->
            <div v-if="institucionales_count > 0">
              <hr>
              <div v-for="(institucionales_data, index) in institucionales" v-bind:key="institucionales_data.pk">
            <div class="card booking-card" >

                <!-- Card image -->
                <div class="view overlay">
                  <div v-if="institucionales_data.data.foto">
                    <img class="card-img-top" id="img" @load="card($event)" v-bind:class="imgClass" v-bind:src="institucionales_data.data.foto[0]" alt="Card image cap">
                  </div>
                  <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
                <!-- Card content -->
                <div class="card-body">
                  <!-- Title -->
                  <h4 class="card-title text-uppercase text-center"><a  @click.prevent="clickCardI(institucionales_data, index, 'I')">{{institucionales_data.data.tipo}}</a></h4>
                   <!-- Text -->
                   <p class="card-text text-center">{{institucionales_data.data.municipio}}</p>
                   <!-- <p class="mb-2 text-center">$ 6547.00</p> -->
                  <!-- Data -->
                </div>
              </div>
              <br>
              </div>
          </div>
              <!-- Card -->
          </div>
          <!-- mapafiltro -->
          <div class="col-md-6 filtrosbusqueda-mapa">
            <div id="map"></div>
          </div>
        </div>
      </div>
    </section>
      <Detalles v-bind:data="modalConfig"></Detalles>
    </div>
  </div>
</template>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDAmvouc8wiOPjIXp_CdOLlJvtYTL6RwTo"></script>
<script>
import Logo from "@/components/Logo";
import Paginator from "@/components/Paginator";
import PaginatorLocal from "@/components/PaginatorLocal";
import PaginatorInstitucional from "@/components/PaginatorInstitucional";
import Detalles from "@/components/Detalles";
import { mapState } from "vuex";

export default {
  name: "AnuncianteEspacios",
  components: {
    Logo,
    Paginator,
    PaginatorLocal,
    PaginatorInstitucional,
    Detalles
  },
  computed: {
    ...mapState({
      tipos: state => state.data_tipos,
      giros: state => state.data_giros,
      ooo_tipo: state => state.data_oootipo,
      relacion: state => state.currentRelacion,
      espacios: state => state.data_espacios.results,
      espacios_count: state => state.data_espacios.count,
      locales: state => state.data_locales.results,
      locales_count: state => state.data_locales.count,
      institucionales: state => state.data_institucionales.results,
      institucionales_count: state => state.data_institucionales.count,
      geo_localidad_data: state => state.data_geo_localidad,
      geo_localidad_input: state => state.geo_localidad_input,
      geo_localidad_initmap: state => state.prueba_initmap,
      lista_inventario: state => state.relacion_inventarios
    })
  },
  async mounted() {
    if (this.$route.params.id > 0) {
      try {
        this.search.geo_localidad[0] = this.geo_localidad_data[0];
        this.search.geo_localidad[1] = this.geo_localidad_data[1];
      } catch (error) {
        this.search.geo_localidad[0] = 19.4023839;
        this.search.geo_localidad[1] = -99.1466904;
      }
      await this.initmap();
      await this.initCordenadaClickMap();
      await this.verificarCheckmap();
      if (this.relacion.data.geo_localidad.latitud) {
        this.geo[0] = this.relacion.data.geo_localidad.latitud;
        this.geo[1] = this.relacion.data.geo_localidad.longitud;
        await this.initCordenadaCampanaMap();
      }
    } else {
      await this.$store.commit("RESET_TABLE");
      this.search.geo_localidad[0] = 19.4023839;
      this.search.geo_localidad[1] = -99.1466904;
      await this.initmap();
      await this.initCordenadaClickMap();
      if (this.relacion.data.geo_localidad.latitud) {
        this.geo[0] = this.relacion.data.geo_localidad.latitud;
        this.geo[1] = this.relacion.data.geo_localidad.longitud;
        await this.initCordenadaCampanaMap();
      }
    }
    if (!this.relacion.data.fechas  ) {
      this.showData = false
    } else {
      this.fechaInicio = this.relacion.data.fechas.inicio.split('-').reverse().join('/')
      this.fechaFin = this.relacion.data.fechas.fin.split('-').reverse().join('/')
      this.showData = true
    }
  },
  data() {
    return {
      markersEspacios: [],
      markersLocales: [],
      markersInstitucionales: [],
      filtradoToggle: [],
      cordenaCampaniaToggle: [],
      validate_pin_km: 0,
      show: false,
      fechaInicio: '',
      fechaFin: '',
      imgClass: {
        "card-img-top": true,
        "img-fluid": false,
        mystyle90: false,
        mystyle180: false,
        mystyle0: false
      },
      geo_localidad_point: {
        lat: 0,
        log: 0
      },
      coordenda: "",
      geo: [],
      search: {
        pk: "",
        tipo: [],
        giro: [],
        material: 0,
        direccion: "",
        radius: "",
        codigo_postal: "",
        geo_localidad: []
      },
      card_datos: {
        pk: 0,
        nombre: "",
        tipo: "",
        municipio: ""

      },
      image: "",
      modalConfig: {
        visible: false,
        type: "confirm",
        confirmText: "Confirmar",
        cancelText: "Cancelar",
        data_target: false,
        type_target: ""
      },
      filtradoToggleVisible: true,
      coordenaCampaniaToggleVisible: true,
      localToggleVisible: true,
      espacioOohVisible: true,
      localToggleAgregadoVisible: true,
      espacioOohAgregadoVisible: true,
      showData: false,
    };
  },
  methods: {
    ocultar() {
      $("#list-ocult").toggle("slow");
    },
    verificarCheckmap() {
      if (this.espacios_count > 0) {
        if (this.locales_count > 0) {
          this.map_locales();
          if (this.institucionales_count > 0) {
            this.map_institucionales();
          }
        } else {
          if (this.institucionales_count > 0) {
            this.map_institucionales();
          }
        }
      } else {
        if (this.locales_count > 0) {
          this.map_locales();
          if (this.institucionales_count > 0) {
            this.map_institucionales();
          }
        } else {
          if (this.institucionales_count > 0) {
            this.map_institucionales();
          }
        }
      }
    },
    async searchEspacios() {
      await this.$store.commit("RESET_POIN");
      var search = "?";
      var giroSearch = "";
      var tipoSearch = "";
      const ObjGeo = Object.getOwnPropertyNames(
        this.relacion.data.geo_localidad
      );
      if (
        !this.search.radius > 0 &&
        !this.search.direccion > 0 &&
        !this.search.giro > 0 &&
        !this.search.tipo > 0
      ) {
        if (ObjGeo.length > 1) {
          search = search + "&geo_localidad=" + [this.geo[0], this.geo[1]];
        }
        await this.$store.commit("GEO_LOCALIDAD", this.search.geo_localidad);
        await this.$store.commit("RESET_TABLE");
        await this.$store.dispatch(
          "get_relacion_inventarios",
          this.relacion.pk
        );
        await this.$store.dispatch("searchLocales", search);
        await this.$store.dispatch("searchInstitucionales", search);
        this.initmap();
        this.initCordenadaClickMap();
        if (ObjGeo.length > 1) {
          this.initCordenadaCampanaMap();
        }
        this.map_locales();
        this.map_institucionales();
      } else {
        if (this.search.giro.length > 0) {
          tipoSearch = "&giro=" + this.search.giro;
          //tipoSearch = search + "&giro=" + this.search.giro;
        }
        if (this.search.tipo.length > 0) {
          giroSearch = "&ooh_tipo=" + this.search.tipo;
          //giroSearch = search + "&ooh_tipo=" + this.search.tipo;
        }
        if (this.search.direccion.length > 0) {
          search = search + "&direccion=" + this.search.direccion;
          await this.$store.dispatch("search_point", this.search.direccion);
          this.geo_localidad_point.lat = this.geo_localidad_initmap.latitud;
          this.geo_localidad_point.log = this.geo_localidad_initmap.longitud;
        }
        if (ObjGeo.length > 1) {
          search = search + "&geo_localidad=" + [this.geo[0], this.geo[1]];
        } else {
          search = search + "&geo_localidad=" + [this.search.geo_localidad[0], this.search.geo_localidad[1]]
          if (!this.search.radius.length > 0) {
            search = search + "&radius=" + 3;
          }
        }
        if (this.search.radius.length > 0) {
          search = search + "&radius=" + this.search.radius;
          if (ObjGeo.length <= 1) {
            if (!this.geo_localidad_data[0]) {
              this.validate_pin_km = 1;
            } else {
              search = search + "&geo_localidad=" + [this.geo_localidad_data[0], this.geo_localidad_data[1]];
              this.validate_pin_km = 0;
            }
          }
        }
        await this.$store.commit("RESET_TABLE");
        await this.$store.dispatch("get_relacion_inventarios", this.relacion.pk);
        if (giroSearch) {
          await this.$store.dispatch("searchInstitucionales", search + giroSearch);
        } else {
          if (!tipoSearch) {
            await this.$store.dispatch("searchInstitucionales", search)
          }
        }
        if (tipoSearch) {
          await this.$store.dispatch("searchLocales", search + tipoSearch);
        } else {
          if(!giroSearch) {
            await this.$store.dispatch("searchLocales", search)
          }
        }
        this.initmap();
        this.initCordenadaClickMap();
        if (ObjGeo.length > 1) {
          this.initCordenadaCampanaMap();
        }
        if (this.locales_count > 0) {
          this.map_locales();
        }
        if (this.institucionales_count > 0) {
          this.map_institucionales();
        }
      }
    },
    ResetEspacios () {
      this.search.radius = "";
      this.search.direccion = "";
      this.search.giro = [];
      this.search.tipo = [];
    },
    async coordenda_api() {
      var search_geo = "?&direccion=" + this.coordenda;
      await this.$store.dispatch("searchGeolocalidad", search_geo);
      this.search.geo_localidad[0] = this.geo_localidad_input.latitud;
      this.search.geo_localidad[1] = this.geo_localidad_input.longitud;
      var buscar_coordenada = "?&geo_localidad=" + this.search.geo_localidad;
      await this.$store.commit("RESET_TABLE");
      await this.$store.dispatch("get_relacion_inventarios", this.relacion.pk);
      await this.$store.dispatch("searchLocales", buscar_coordenada);
      await this.$store.dispatch("searchInstitucionales", buscar_coordenada);
      await this.initmap();
      await this.initCordenadaClickMap();
      if (this.relacion.data.geo_localidad.latitud) {
        this.geo[0] = this.relacion.data.geo_localidad.latitud;
        this.geo[1] = this.relacion.data.geo_localidad.longitud;
        await this.initCordenadaCampanaMap();
      }
      this.map_locales();
      this.map_institucionales();
      return false;
    },
    async resultadoLocales() {
      if (!this.geo_localidad_data[0]) {
        let gl = [];
        gl[0] = 19.4023839;
        gl[1] = -99.1466904;
        await this.$store.commit("GEO_LOCALIDAD", gl);
      }
      this.$router.push({ name: "tablaLocales" });
    },
    resultadoEspacios() {
      this.$router.push({ name: "TablaEspacios" });
    },
    async resultadoInstitucionales() {
      if (!this.geo_localidad_data[0]) {
        let gl = [];
        gl[0] = 19.4023839;
        gl[1] = -99.1466904;
        await this.$store.commit("GEO_LOCALIDAD", gl);
      }
      this.$router.push({ name: "tablaEspaciosInstitucionale" });
    },
    detalles() {
      this.modalConfig.visible = true;
    },
    clickCardL (data, index, target) {
      this.stopMarkerAnimationL();
      this.stopMarkerAnimationI();
      this.card_datos.pk = data.pk;
      this.modalConfig.data_target = data;
      this.modalConfig.type_target = target;
      if (data.foto) {
        this.imagen = data.foto.src;
      } else {
        this.imagen = null;
      }
      this.card_datos.nombre = data.nombre_comercial;
      this.card_datos.municipio = data.direccion.municipio;
      this.show = true;
      this.startMarkerAnimation(this.markersLocales[index])
    },
    clickCardI (data, index, target){
      this.stopMarkerAnimationL();
      this.stopMarkerAnimationI();
      this.card_datos.pk = data.pk;
      this.modalConfig.data_target = data;
      this.modalConfig.type_target = target;
      if (data.data.foto[0]) {
        this.imagen = data.data.foto[0];
      } else {
        this.imagen = null;
      }
      this.card_datos.nombre = data.data.tipo;
      this.card_datos.municipio = data.data.municipio;
      this.card_datos.tipo = data.data.tipo;
      this.show = true;
      this.startMarkerAnimation(this.markersInstitucionales[index])
    },
    regresar() {
      this.$router.push({ name: "TablaSucursales" });
    },
    //----------------------------- Toggle data -------------------------------------------
    FitradorToggle () {
      if (this.filtradoToggleVisible) {
        this.filtradoToggle.setVisible(false)
        this.filtradoToggleVisible = false
      } else {
        this.filtradoToggle.setVisible(true)
        this.filtradoToggleVisible = true
      }
    },
    CoordenaCampaniaToggle () {
      if (this.coordenaCampaniaToggleVisible) {
        this.cordenaCampaniaToggle.setVisible(false)
        this.coordenaCampaniaToggleVisible = false
      } else {
        this.cordenaCampaniaToggle.setVisible(true)
        this.coordenaCampaniaToggleVisible = true
      }
    },
    LocalesToggle () {
      var n
      if (this.localToggleVisible) {
        for (n = 0; n < this.markersLocales.length; n++) {
          if(this.markersLocales[n].icon === 'http://maps.google.com/mapfiles/ms/micons/orange-dot.png') {
            this.markersLocales[n].setVisible(false)
            this.localToggleVisible = false
          }
        }
      } else {
        for (n = 0; n < this.markersLocales.length; n++) {
          if(this.markersLocales[n].icon === 'http://maps.google.com/mapfiles/ms/micons/orange-dot.png') {
            this.markersLocales[n].setVisible(true)
            this.localToggleVisible = true
          }
        }
      }
    },
    EspaciosOhhToggle () {
      var n
      if (this.espacioOohVisible) {
        for (n = 0; n < this.markersInstitucionales.length; n++) {
          if(this.markersInstitucionales[n].icon === 'http://maps.google.com/mapfiles/ms/micons/purple-dot.png') {
            this.markersInstitucionales[n].setVisible(false)
            this.espacioOohVisible = false
          }
        }
      } else {
        for (n = 0; n < this.markersInstitucionales.length; n++) {
          if(this.markersInstitucionales[n].icon === 'http://maps.google.com/mapfiles/ms/micons/purple-dot.png') {
            this.markersInstitucionales[n].setVisible(true)
            this.espacioOohVisible = true
          }
        }
      }
    },
    LocalesAToggle () {
      var n
      if (this.localToggleAgregadoVisible) {
        for (n = 0; n < this.markersLocales.length; n++) {
          if(this.markersLocales[n].icon === 'https://img.icons8.com/ios/30/FFAC33/map-pin-filled.png') {
            this.markersLocales[n].setVisible(false)
            this.localToggleAgregadoVisible= false
          }
        }
      } else {
        for (n = 0; n < this.markersLocales.length; n++) {
          if(this.markersLocales[n].icon === 'https://img.icons8.com/ios/30/FFAC33/map-pin-filled.png') {
            this.markersLocales[n].setVisible(true)
            this.localToggleAgregadoVisible = true
          }
        }
      }
    },
    EspaciosOhhAToggle () {
      var n
      if (this.espacioOohAgregadoVisible) {
        for (n = 0; n < this.markersInstitucionales.length; n++) {
          if(this.markersInstitucionales[n].icon === 'https://img.icons8.com/ios/30/442390/map-pin-filled.png') {
            this.markersInstitucionales[n].setVisible(false)
            this.espacioOohAgregadoVisible= false
          }
        }
      } else {
        for (n = 0; n < this.markersInstitucionales.length; n++) {
          if(this.markersInstitucionales[n].icon === 'https://img.icons8.com/ios/30/442390/map-pin-filled.png') {
            this.markersInstitucionales[n].setVisible(true)
            this.espacioOohAgregadoVisible = true
          }
        }
      }
    },
    //------------------------------ end Toggle data --------------------------------------
    initCordenadaCampanaMap() {
      var uluru = { lat: Number(this.geo[0]), lng: Number(this.geo[1]) };
      var marker = new google.maps.Marker({
        icon: "http://maps.google.com/mapfiles/ms/icons/blue-dot.png",
        position: uluru,
        draggable: false,
        map: this.map
      });
      this.cordenaCampaniaToggle = marker
    },
    initCordenadaClickMap() {
      var latitud = this.search.geo_localidad[0];
      var longitud = this.search.geo_localidad[1];
      var uluru = { lat: Number(latitud), lng: Number(longitud) };

      this.marker = new google.maps.Marker({
        icon: "https://img.icons8.com/ios/30/FF5733/marker-filled.png",
        position: uluru,
        draggable: false,
        map: this.map
      });
      this.filtradoToggle = this.marker;
      var instance = this;
      google.maps.event.addListener(instance.map, "click", async function(
        marker
      ) {
        await instance.$store.commit("RESET_POIN");
        instance.search.geo_localidad[0] = marker.latLng.lat();
        instance.search.geo_localidad[1] = marker.latLng.lng();
        var search = "?&geo_localidad=" + instance.search.geo_localidad;
        await instance.$store.commit(
          "GEO_LOCALIDAD",
          instance.search.geo_localidad
        );
        var json_geo = {
          latitud: instance.search.geo_localidad[0],
          longitud: instance.search.geo_localidad[1]
        };
        await instance.$store.commit("RESPONSE_POIN", json_geo);
        instance.geo_localidad_point.lat = instance.geo_localidad_initmap.latitud;
        instance.geo_localidad_point.log = instance.geo_localidad_initmap.longitud;
        if (instance.validate_pin_km === 0) {
          await instance.$store.commit("RESET_TABLE");
          await instance.$store.dispatch(
            "get_relacion_inventarios",
            instance.relacion.pk
          );
          await instance.$store.dispatch("searchLocales", search);
          await instance.$store.dispatch("searchInstitucionales", search);
          instance.initmap();
          instance.initCordenadaClickMap();
          const ObjC = Object.getOwnPropertyNames(
            instance.relacion.data.geo_localidad
          );
          if (ObjC.length > 1) {
            instance.initCordenadaCampanaMap();
          }
          instance.map_locales();
          instance.map_institucionales();
          return false;
        }
      });
    },
    initmap() {
      var latitud;
      var longitud;
      var zoom_valor;
      if (!this.geo_localidad_point.lat) {
        if (this.relacion.data.geo_localidad.latitud) {
          latitud = this.relacion.data.geo_localidad.latitud;
          longitud = this.relacion.data.geo_localidad.longitud;
          zoom_valor = 12;
        } else {
          latitud = this.search.geo_localidad[0];
          longitud = this.search.geo_localidad[1];
          zoom_valor = 12;
        }
      } else {
        latitud = this.geo_localidad_point.lat;
        longitud = this.geo_localidad_point.log;
        zoom_valor = 14;
      }
      var uluru = { lat: Number(latitud), lng: Number(longitud) };
      this.map = new google.maps.Map(document.getElementById("map"), {
        center: uluru,
        zoom: zoom_valor
      });
    },
    map_espacios() {
      let icon_espacio =
        "http://maps.google.com/mapfiles/ms/icons/green-dot.png";
      for (var n = 0; n < this.espacios.length; n++) {
        this.map_marker(n, icon_espacio);
      }
    },
    map_marker(n, icon) {
      var point = this.espacios[n];
      if (!point) {
        return false;
      }
      var instance = this;
      var uluru = {
        lat: Number(point.geo_localidad.latitud),
        lng: Number(point.geo_localidad.longitud)
      };
      var marker = new google.maps.Marker({
        icon: icon,
        position: uluru,
        draggable: false,
        map: this.map
      });
      this.markersEspacios.push(marker);
      marker.addListener("click", clickedImageEspacio);

      function clickedImageEspacio() {
        instance.stopMarkerAnimationE();
        instance.modalConfig.data_target = point;
        instance.modalConfig.type_target = "E";
        instance.card_datos.pk = point.pk;
        instance.card_datos.nombre = point.nombre;
        instance.imagen = point.foto;
        instance.show = true;
        instance.startMarkerAnimation(marker);
      }
    },
    map_locales() {
      let icon_local =
        "http://maps.google.com/mapfiles/ms/micons/orange-dot.png";
      let icon_existe =
        "https://img.icons8.com/ios/30/FFAC33/map-pin-filled.png";
      for (var n = 0; n < this.locales.length; n++) {
        const check = this.lista_inventario.find(
          pk => pk.data.pk_relacion === this.locales[n].pk
        );
        if (!check) {
          this.map_markerLocal(n, icon_local);
        } else {
          this.map_markerLocal(n, icon_existe);
        }
      }
    },
    map_markerLocal(n, icon) {
      var point = this.locales[n];
      if (!point) {
        return false;
      }
      var instance = this;
      var uluru = {
        lat: Number(point.geo_localidad.latitud),
        lng: Number(point.geo_localidad.longitud)
      };
      var marker = new google.maps.Marker({
        icon: icon,
        position: uluru,
        draggable: false,
        map: this.map
      });
      this.markersLocales.push(marker);
      marker.addListener("click", clickedImageLocal);

      function clickedImageLocal() {
        instance.stopMarkerAnimationL();
        instance.stopMarkerAnimationI();
        instance.card_datos.pk = point.pk;
        instance.modalConfig.data_target = point;
        instance.modalConfig.type_target = "L";
        if (point.foto) {
          instance.imagen = point.foto.src;
        } else {
          instance.imagen = null;
        }
        instance.card_datos.nombre = point.nombre_comercial;
        instance.card_datos.municipio = point.direccion.municipio;
        instance.show = true;
        instance.startMarkerAnimation(marker);
      }
    },
    map_institucionales() {
      var icon_institucional =
        "http://maps.google.com/mapfiles/ms/micons/purple-dot.png";
      let icon_existe =
        "https://img.icons8.com/ios/30/442390/map-pin-filled.png";
      for (var n = 0; n < this.institucionales.length; n++) {
        const check = this.lista_inventario.find(
          pk => pk.data.pk_relacion === this.institucionales[n].pk
        );
        if (!check) {
          this.map_markerInstitucional(n, icon_institucional);
        } else {
          this.map_markerInstitucional(n, icon_existe);
        }
      }
    },
    map_markerInstitucional(n, icon) {
      var point = this.institucionales[n];
      if (!point) {
        return false;
      }
      var instance = this;
      var uluru = {
        lat: Number(point.geo_localidad.latitud),
        lng: Number(point.geo_localidad.longitud)
      };
      var marker = new google.maps.Marker({
        icon: icon,
        position: uluru,
        draggable: false,
        map: this.map
      });
      this.markersInstitucionales.push(marker);
      marker.addListener("click", clickedImageInstitucionales);

      function clickedImageInstitucionales() {
        instance.stopMarkerAnimationL();
        instance.stopMarkerAnimationI();
        instance.card_datos.pk = point.pk;
        instance.modalConfig.data_target = point;
        instance.modalConfig.type_target = "I";
        if (point.data.foto[0]) {
          instance.imagen = point.data.foto[0];
        } else {
          instance.imagen = null;
        }
        instance.card_datos.nombre = point.data.tipo;
        instance.card_datos.municipio = point.data.municipio;
        instance.card_datos.tipo = point.data.tipo;
        instance.show = true;
        instance.startMarkerAnimation(marker);
      }
    },
    stopMarkerAnimationE() {
      var markers = this.markersEspacios;
      for (var i = 0; i < markers.length; i++) {
        markers[i].setAnimation(null);
      }

      return true;
    },
    stopMarkerAnimationL() {
      var markers = this.markersLocales;
      for (var i = 0; i < markers.length; i++) {
        markers[i].setAnimation(null);
      }
      return true;
    },
    stopMarkerAnimationI() {
      var markers = this.markersInstitucionales;
      for (var i = 0; i < markers.length; i++) {
        markers[i].setAnimation(null);
      }
      return true;
    },
    startMarkerAnimation(marker) {
      if (marker.getAnimation() !== null) {
        marker.setAnimation(null);
      } else {
        marker.setAnimation(google.maps.Animation.BOUNCE);
      }

      return true;
    },
    card($event) {
      var imagen = $event.target;
      imagen.exifdata = null;

      this.set_rotation(imagen);
    },
    set_rotation(img) {
      var instance = this;

      getExif(img);

      function getExif(img) {
        var CeroGrados = "mystyle0";
        var NoventaGrados = "mystyle90";
        var CientoOchentaGrados = "mystyle180";

        EXIF.getData(img, function() {
          var Orientation = EXIF.getTag(this, "Orientation");
          var arr = img.className.split(" ");
          if (Orientation) {
            if (Orientation === 6) {
              if (arr.indexOf(NoventaGrados) === -1) {
                instance.imgClass.mystyle90 = true;
                instance.imgClass.mystyle0 = false;
                instance.imgClass.mystyle180 = false;
              }
            } else if (Orientation === 3) {
              if (arr.indexOf(CientoOchentaGrados) === -1) {
                instance.imgClass.mystyle90 = false;
                instance.imgClass.mystyle0 = false;
                instance.imgClass.mystyle180 = true;
              }
            } else {
              if (arr.indexOf(CeroGrados) === -1) {
                instance.imgClass.mystyle90 = false;
                instance.imgClass.mystyle0 = true;
                instance.imgClass.mystyle180 = false;
              }
            }
          } else {
            if (arr.indexOf(CeroGrados) == -1) {
              instance.imgClass.mystyle90 = false;
              instance.imgClass.mystyle0 = true;
              instance.imgClass.mystyle180 = false;
            }
          }
        });
      }
    }
  }
};
</script>
<style scoped>
</style>
