<template>
    <div>
        <Logo nav="cliente"/>
        <div class="container margin-container">
            <h3 class="text-center">Editar la Campaña {{relacion.name}}</h3>
            <div class="row justify-content-center">
                <div class="col-sm-6">
                    <h2>Datos</h2>
                    <label>Nombre del comercio o razon social</label>
                    <input v-model="post_data.name" type="text" class="form-control">
                    <div class="alert alert-danger mt-3" v-show="showCliente">
                      No se puede crear una <strong> campaña </strong> este  usuario no tiene una relacion de <strong>cliente</strong>.
                    </div>
                    <div class="row">
                      <div class="form-group mt-5">
                      <label for="InicioCampania">Inicio de campaña</label>
                      <input type="date" v-model="post_data.inicioFecha" class="form-control" id="InicioCampania">
                    </div>
                    <div class="form-group mt-5">
                      <label for="FinCampania">Fin de campaña</label>
                      <input type="date" v-model="post_data.finFecha"  class="form-control" id="FinCampania">
                    </div>
                    </div>
                    <br>
                    <hr>
                    <!-- <div class="row mt-4">
                    <fieldset class="form-group">
                      <div class="form-check">
                        <label class="form-check-label">
                          <input @change="check(1)" type="radio" class="form-check-input" name="optionsRadios" value="true" v-model="data_check"> Añadir geolocalidad
                        </label>
                      </div>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input @change="check(0)" type="radio" class="form-check-input" name="optionsRadios" value="false" v-model="data_check"> No agregar geolocalidad
                        </label>
                      </div>
                    </fieldset>
                    </div> -->
                    <div class="row">
                        <div class="col-12 col-md-5 mt-4">
                            <button class="button" v-on:click="agregar_sucursal">Editar</button>
                        </div>
                        <div class="col-12 col-md-2 mt-4">
                        </div>
                        <div class="col-12 col-md-5 mt-4">
                            <button class="button" v-on:click="cancelar">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-sm-6" v-show="show">
                    <div class="mt-5">
                        <div id="map"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDAmvouc8wiOPjIXp_CdOLlJvtYTL6RwTo">
</script>
<script>
import Logo from '@/components/Logo'
import { mapGetters, mapState } from 'vuex'
require('../assets/js/effect.js')
export default {
  name: 'ClienteEditCampania',
  components: { Logo
  },
  computed: {
    ...mapState({
      // relaciones: state => state.cliente_relaciones,
      data_response_sucursal: state => state.response_sucursal,
      cliente: state => state.cliente,
      relacion: state => state.currentRelacion,

    })
  },
  mounted () {
      // this.initMap()
      this.editar_load()
  },
  data () {
    return {
      update_foto: false,
      geo_localidad_default: {
        'latitud': 19.4978,
        'longitud': -99.1269
      },
      post_data: {
        'name': '',
        'cliente_json': '',
        'data':{
          'geo_localidad': {
          }
        },
      },
      data_check: false,
      show: true,
      showCliente: false
      }
  },
  methods: {
    editar_load () {
      this.post_data.name = this.relacion.name
      this.initMap()
    },
    async agregar_sucursal () {
        try {
          this.post_data.cliente_json = this.cliente[0].cliente_json
        } catch (error) {
          this.showCliente = true
          return  false
        }
        await this.$store.dispatch('post_campaña', this.post_data)
        await this.$store.dispatch('get_anunciante_relaciones')
        await this.$store.dispatch('get_relacion', this.data_response_sucursal)
        this.$router.push({name: 'TablaSucursales'})
    },
    initMap () {
      if (this.relacion.data.geo_localidad.latitud) {
        var cordenadas = {lat: this.relacion.data.geo_localidad.latitud, lng: this.relacion.data.geo_localidad.longitud}
      } else {
        var cordenadas = {lat: this.geo_localidad_default.latitud, lng: this.geo_localidad_default.longitud}
      }
      var map = new google.maps.Map(document.getElementById('map'), {
          center: cordenadas,
          zoom: 15
      })
      var marker = new google.maps.Marker({
          position: cordenadas,
          draggable: true,
          map: map
      })

      var instance = this

      google.maps.event.addListener(marker, 'dragend', function(marker){
          instance.post_data.data.geo_localidad.latitud = marker.latLng.lat()
          instance.post_data.data.geo_localidad.longitud = marker.latLng.lng()
      })
    },
    cancelar () {
        this.$router.push({name: 'TablaSucursales'})
    },
    check (valor) {
      if (valor > 0) {
        this.show = true
      } else {
        this.show = false
        this.post_data.data.geo_localidad.latitud = 19.4978
        this.post_data.data.geo_localidad.longitud = -99.1269
        this.initMap()
      }
    }
  }
}
</script>
<style scoped>

</style>
