<template id="zaffri-modal-template" class="zaffri-modal-template">
        <div v-if="data.visible" class="zaffri-modal">
            <div class="zaffri-modal-body">
                <header><h2 class="text-center">Detalles</h2></header>
                <div class="container" v-if="data.type_target === 'E'">
                    <div class="row justify-content-around">
                        <div class="col-sm-12 col-md-6">
                            <h3><b>{{ data.data_target.nombre }}</b></h3>
                        </div>
                        <div class="col-sm-12 col-md-3">
                            <h3><b>Pk:</b> {{data.data_target.pk}}</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-4" v-if="data.data_target.foto">
                            <img id="img" @load="card($event)" v-bind:class="imgClass" :src="data.data_target.foto" width="100%" height="300">
                        </div>
                        <div class="col-sm-12 col-md-4" v-else></div>
                        <div class="col-sm-12 col-md-6">
                          <h4 class="text-center text-danger"><b>Espacio</b></h4>
                          <span><b>Tipo:</b> {{tipos.find(pk => pk.pk === data.data_target.tipo).designacion}}</span><br>
                          <span><b>Giro:</b> {{giros.find(pk => pk.pk === data.data_target.giro).designacion}}</span><br><br>
                          <h5 class="text-info"><b>Caracteristicas fisicas</b></h5>
                          <hr>
                          <span><b>Alto:</b> {{data.data_target.caracteristicas_fisicas.alto}}</span><br>
                          <span><b>Ancho:</b> {{data.data_target.caracteristicas_fisicas.ancho}}</span><br>
                          <span><b>Material:</b> {{data.data_target.caracteristicas_fisicas.material}}</span><br>
                          <span><b>Digital:</b> {{data.data_target.caracteristicas_fisicas.digital}}</span><br>
                          <span><b>Descripcion:</b> {{data.data_target.caracteristicas_fisicas.descripcion}}</span>
                          <br><br>
                          <span><b>Fecha de Registro:</b> {{moment(data.data_target.fecha_de_registro).format('YYYY-MM-DD')}}</span>
                        </div>
                        <div class="col-sm-12 col-md-2 align-self-center">
                          <div class="zaffri-modal-button-area">
                            <div v-if="data.type == 'confirm'">
                              <!-- <button @click="closeModal(true)" class="btn btn-danger">{{ data.confirmText }}</button> -->
                              <button @click="closeModal(false)" class="btn btn-danger mt-3">{{ data.cancelText }}</button>
                            </div>
                            <div v-else>
                              <button @click="closeModal" class="button">{{ data.confirmText }}</button>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="container" v-else-if="data.type_target === 'L'">
                    <div class="row justify-content-around">
                        <div class="col-sm-12 col-md-4">
                          <div v-if="data.data_target.nombre_comercial">
                            <h3><b>{{ data.data_target.nombre_comercial }}</b></h3>
                          </div>
                          <div v-else>
                            <h3><b>{{ data.data_target.nombre }}</b></h3>
                          </div>
                        </div>
                        <div class="col-sm-12 col-md-3">
                            <h3><b>Pk:</b> {{data.data_target.pk}}</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-4 align-self-center" v-if="data.data_target.foto">
                            <div v-if="data.data_target.foto.src">
                              <img id="img" @load="card($event)" v-bind:class="imgClass" :src="data.data_target.foto.src" width="100%" height="300">
                            </div>
                            <div v-else>
                              <img id="img" @load="card($event)" v-bind:class="imgClass" :src="data.data_target.foto" width="100%" height="300">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4" v-else></div>
                        <div class="col-sm-12 col-md-6">
                          <h4 class="text-center text-danger"><b>Local</b></h4>
                          <div v-if="data.data_target.espacio_tipo">
                            <span><b>Espacio tipo:</b> {{data.data_target.espacio_tipo}}</span><br><br>
                          </div>
                          <div v-else></div>
                          <h5 class="text-info"><b>Direccion</b></h5><hr>
                          <span><b>Numero exterior:</b> {{data.data_target.direccion.numero_exterior}}</span><br>
                          <span><b>Numero interior:</b> {{data.data_target.direccion.numero_interior}}</span><br>
                          <span><b>Calle:</b></span> {{data.data_target.direccion.calle}}<br>
                          <span><b>Colonia:</b> {{data.data_target.direccion.colonia}}</span><br>
                          <span><b>Codigo postal:</b> {{data.data_target.direccion.codigo_postal}}</span><br>
                          <span><b>Municipio:</b> {{data.data_target.direccion.municipio}}</span><br>
                          <span><b>Estado:</b> {{data.data_target.direccion.estado}}</span>
                          <br><br>
                          <span><b>Fecha de Registro:</b> {{moment(data.data_target.fecha_de_registro).format('YYYY-MM-DD')}}</span>
                        </div>
                        <div class="col-sm-12 col-md-2 align-self-center">
                          <div class="zaffri-modal-button-area">
                            <div v-if="data.type == 'confirm'">
                              <!-- <button @click="closeModal(true)" class="btn btn-danger">{{ data.confirmText }}</button> -->
                              <button @click="closeModal(false)" class="btn btn-danger mt-3">{{ data.cancelText }}</button>
                            </div>
                            <div v-else>
                              <button @click="closeModal" class="button">{{ data.confirmText }}</button>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="container" v-else-if="data.type_target === 'I'">
                    <div class="row">
                        <div class="col-sm-12 col-md-3">
                            <h3><b>Pk:</b> {{data.data_target.pk}}</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-3" v-if="data.data_target.data.foto">
                            <img id="img" @load="card($event)" v-bind:class="imgClass" v-bind:src="data.data_target.data.foto[0]" width="100%" height="220">
                            <div class="zaffri-modal-button-area">
                            <div v-if="data.type == 'confirm'">
                              <button @click="closeModal(false)" class="btn btn-danger mt-3">{{ data.cancelText }}</button>
                            </div>
                            <div v-else>
                              <button @click="closeModal" class="button">{{ data.confirmText }}</button>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-12 col-md-3" v-else>
                          <div class="zaffri-modal-button-area">
                            <div v-if="data.type == 'confirm'">
                              <button @click="closeModal(false)" class="btn btn-danger mt-3">{{ data.cancelText }}</button>
                            </div>
                            <div v-else>
                              <button @click="closeModal" class="button">{{ data.confirmText }}</button>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-12 col-md-4">
                          <h4 class="text-center text-danger"><b>Espacio ooh</b></h4>
                          <span><b>Codigo:</b> {{data.data_target.data.codigo}}</span><br>
                          <span><b>Tipo:</b> {{data.data_target.data.tipo}}</span><br>
                          <div v-if="data.data_target.data.precio">
                            <span><b>Precio</b> $ {{data.data_target.data.precio | money}}</span><br>
                          </div>
                          <div v-else>
                            <span><b>Precio</b> $ 0.00</span><br>
                          </div>
                          <span><b>Nivel Socioeconomico audiencia</b> {{data.data_target.data.nivel_socioeconomico_audiencia}}</span><br>
                          <span><b>Nivel Socioeconomico zona</b> {{data.data_target.data.nivel_socioeconomico_zona}}</span><br>
                          <span><b>Calificacion:</b> {{data.data_target.data.calificacion}}</span><br><br>
                          <h5 class="text-info"><b>Direccion</b></h5><hr>
                          <span><b>Calle:</b></span> {{data.data_target.data.calle}}<br>
                          <span><b>Codigo postal:</b> {{data.data_target.data.codigo_postal}}</span><br>
                          <span><b>Municipio:</b> {{data.data_target.data.municipio}}</span><br>
                          <span><b>Estado:</b> {{data.data_target.data.estado}}</span>
                        </div>
                        <div class="col-sm-12 col-md-4 align-self-center">
                          <h5 class="text-info"><b>Caracteristicas fisicas</b></h5><hr>
                          <span><b>Altura:</b> {{data.data_target.data.altura}}</span><br>
                          <span><b>Base:</b> {{data.data_target.data.base}}</span><br>
                          <span><b>Estructura:</b> {{data.data_target.data.estructura}}</span><br>
                          <span><b>Luz:</b> {{data.data_target.data.luz}}</span><br>
                          <span><b>Observaciones:</b> {{data.data_target.data.observaciones}}</span><br>
                          <span><b>Trafico vehicular:</b> {{data.data_target.data.trafico_vehicular}}</span><br>
                          <span><b>Vialidad:</b> {{data.data_target.data.vialidad}}</span><br>
                          <span><b>Visibilidad:</b> {{data.data_target.data.visibilidad}}</span><br>
                          <span><b>Vista:</b> {{data.data_target.data.vista}}</span><br><br>
                        </div>
                    </div>
                </div>
            </div>

        </div>
</template>
<script>
import Vue from 'vue'
import Logo from '@/components/Logo'
import {mapState} from 'vuex'

const EXIF = window.EXIF

Vue.filter('money', function (value) {
  value += ''
  var splitStr = value.split('.')
  var splitLeft = splitStr[0]
  var splitRight = splitStr.length > 1 ? ',' + splitStr[1] : ''
  var regx = /(\d+)(\d{3})/
  while (regx.test(splitLeft)) {
    splitLeft = splitLeft.replace(regx, '$1' + '.' + '$2')
  }
  return splitLeft + splitRight
})

export default {
  name: 'Detalles',
  components: {
    Logo
  },
  template: '#zaffri-modal-template',
  props: ['data'],
  computed: {
    ...mapState({
      tipos: state => state.data_tipos,
      giros: state => state.data_giros,
      materiales: state => state.data_materiales
    })
  },
  mounted () {},
  data () {
    return {
      imgClass: {
        'card-img-top': true,
        'img-fluid': false,
        'mystyle90': false,
        'mystyle180': false,
        'mystyle0': false
      }
    }
  },
  methods: {
    closeModal: function (action = null) {
      this.data.visible = false
    },
    card ($event) {
      var imagen = $event.target
      imagen.exifdata = null

      this.set_rotation(imagen)
    },
    set_rotation (img) {
      var instance = this

      getExif(img)

      function getExif (img) {
        var CeroGrados = 'mystyle0'
        var NoventaGrados = 'mystyle90'
        var CientoOchentaGrados = 'mystyle180'

        EXIF.getData(img, function () {
          var Orientation = EXIF.getTag(this, 'Orientation')
          var arr = img.className.split(' ')
          if (Orientation) {
            if (Orientation === 6) {
              if (arr.indexOf(NoventaGrados) === -1) {
                instance.imgClass.mystyle90 = true
                instance.imgClass.mystyle0 = false
                instance.imgClass.mystyle180 = false
              }
            } else if (Orientation === 3) {
              if (arr.indexOf(CientoOchentaGrados) === -1) {
                instance.imgClass.mystyle90 = false
                instance.imgClass.mystyle0 = false
                instance.imgClass.mystyle180 = true
              }
            } else {
              if (arr.indexOf(CeroGrados) === -1) {
                instance.imgClass.mystyle90 = false
                instance.imgClass.mystyle0 = true
                instance.imgClass.mystyle180 = false
              }
            }
          } else {
            if (arr.indexOf(CeroGrados) === -1) {
              instance.imgClass.mystyle90 = false
              instance.imgClass.mystyle0 = true
              instance.imgClass.mystyle180 = false
            }
          }
        })
      }
    }
  }
}
</script>
