<template>
    <div>
        <Logo nav="cliente"/>
        <div class="container margin-container">
            <div class="row justify-content-center mt-4">
              <div class="col-sm-12 col-md-6">
                <button v-on:click="add" class="button">
                  Añadir Espacio
                </button>
              </div>
              <div class="col-sm-12 col-md-2">
                <button v-on:click="regresar"  class="button">
                    Regresar
                </button>
              </div>
            </div>
            <div class="row mt-5">
                <div class="col-sm-12 col-md-12">
                  <div id="map"></div>
                </div>
                <div class="col-sm-4" v-show="show">
                  <img id="img" @load="card" v-bind:class="imgClass" v-bind:src="imagen" width="100%" height="300">
                </div>
                <div class="col-sm-2" v-show="show">
                  <div style="width: 100%; height:300px">
                    <span><b>Pk:</b> {{card_datos.pk}}</span><br>
                    <span><b>Nombre:</b> {{card_datos.nombre}}</span>
                    <button @click.prevent="detalles" class="button mt-5">Detalles</button>
                    </div>
                </div>
            </div>
            <Detalles v-bind:data="modalConfig"></Detalles>
            <div class="row mt-5">
              <div class="col">
                <p><img src="http://maps.google.com/mapfiles/ms/icons/blue-dot.png" alt="">Coordenada de la campaña</p>
                <p><img src="http://maps.google.com/mapfiles/ms/micons/orange-dot.png" alt=""> Locales</p>
                <p><img src="http://maps.google.com/mapfiles/ms/micons/purple-dot.png" alt="">Espacios ooh</p>
              </div>
            </div>
            <ModalDelete v-bind:data="ModalDeleteConfig"></ModalDelete>
            <div class="row mt-5">
                <div class="col-sm-12 mt-5">
                  <h2 class="py-2 text-center" v-if="relaciones_inventarios.length > 0">Inventarios asociados a {{relacion.name}}</h2>
                  <v-client-table :columns="columns" :data="relaciones_inventarios" :options="options" v-if="relaciones_inventarios.length > 0">
                  <template slot="pk" slot-scope="props">
                    <div v-if="props.row.relacion_tipo === 'L'">
                      <a class="text-white ml-4" href="#" v-on:click="target_pk(props.index, props.row.local, props.row.relacion_tipo)">{{props.row.local.pk}}</a>
                      <a class="text-white ml-4" href="#" v-on:click="delete_relacion(props.row.pk)">Eliminar <i class="far fa-trash-alt"></i></a>
                    </div>
                    <div v-else-if="props.row.relacion_tipo === 'E'">
                      <a class="text-white ml-4" href="#" v-on:click="target_pk(props.index, props.row.espacio, props.row.relacion_tipo)">{{props.row.espacio.pk}}</a>
                      <a class="text-white ml-4" href="#" v-on:click="delete_relacion(props.row.pk)">Eliminar <i class="far fa-trash-alt"></i></a>
                    </div>
                    <div v-else>
                      <a class="text-white ml-4" href="#" v-on:click="target_pk(props.index, props.row.institucional, props.row.relacion_tipo)">{{props.row.institucional.pk}}</a>
                      <a class="text-white ml-4" href="#" v-on:click="delete_relacion(props.row.pk)">Eliminar <i class="far fa-trash-alt"></i></a>
                    </div>
                  </template>
                  <template slot="relacion_tipo" slot-scope="props">
                    <div v-if="props.row.relacion_tipo === 'L'">
                      Local
                    </div>
                    <div v-else-if="props.row.relacion_tipo === 'E'">
                      Espacio
                    </div>
                    <div v-else>
                      Espacio ooh
                    </div>
                  </template>
                  <template slot="name" slot-scope="props">
                    <div v-if="props.row.relacion_tipo === 'L'">
                      {{props.row.local.nombre}}
                    </div>
                    <div v-else-if="props.row.relacion_tipo === 'E'">
                      {{props.row.espacio.nombre}}
                    </div>
                    <div v-else>
                      {{props.row.institucional.data.tipo}}
                    </div>
                  </template>
                  <template slot="descripcion" slot-scope="props">
                    <div v-if="props.row.relacion_tipo === 'L'">
                      <b>Calle: </b> {{props.row.local.direccion.calle}}<br>
                      <b>Colonia: </b> {{props.row.local.direccion.colonia}}<br>
                      <b>Municipio: </b> {{props.row.local.direccion.municipio}}
                    </div>
                    <div v-else-if="props.row.relacion_tipo === 'E'">
                      <b>Giro:</b> {{props.row.espacio.giro.designacion}} <br>
                      <b>Tipo:</b> {{props.row.espacio.tipo.designacion}}
                    </div>
                    <div v-else>
                      <b>Tipo:</b> {{props.row.institucional.data.tipo}}<br>
                      <b>Calificacion:</b> <span v-if="props.row.institucional.data.calificacion">{{props.row.institucional.data.calificacion}}</span>
                      <span v-else>No tiene</span>
                    </div>
                  </template>
                  <template slot="foto" slot-scope="props">
                   <div v-if="props.row.relacion_tipo === 'L'">
                      <div v-if="props.row.local.foto">
                        <img @load="rotate_on_load($event)" v-bind:src="props.row.local.foto" class="img-thumbnail orientacion" style="width: 150px; height: 120px;">
                      </div>
                      <div v-else></div>
                    </div>
                    <div v-else-if="props.row.relacion_tipo === 'E'">
                      <div v-if="props.row.espacio.foto">
                        <img @load="rotate_on_load($event)" v-bind:src="props.row.espacio.foto" class="img-thumbnail orientacion" style="width: 150px; height: 120px;">
                      </div>
                      <div v-else></div>
                    </div>
                    <div v-else>
                      <div v-if="props.row.institucional.data.foto[0]">
                        <img @load="rotate_on_load($event)" v-bind:src="props.row.institucional.data.foto[0]" class="img-thumbnail orientacion" style="width: 150px; height: 120px;">
                      </div>
                      <div v-else></div>
                    </div>
                  </template>
                  </v-client-table>
                </div>
            </div>
        </div>
    </div>
</template>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDAmvouc8wiOPjIXp_CdOLlJvtYTL6RwTo"></script>
<script>
import Vue from 'vue'
import Logo from '@/components/Logo'
import { ClientTable } from 'vue-tables-2'
import { mapState, mapGetters } from 'vuex'
import Detalles from '@/components/Detalles'
import ModalDelete from '@/components/ModalDelete'

Vue.use(ClientTable)
export default {
  name: 'TablaSucursalEspacios',
  components: {
    Logo,
    Detalles,
    ModalDelete
  },
  computed: {
    ...mapGetters({
      inventarios: 'inventarios',
    }),
    ...mapState({
      relacion: state => state.currentRelacion,
      relaciones_inventarios: state => state.relacion_inventarios
    })
  },
  async mounted () {
    if (this.relacion.data.geo_localidad.latitud) {
      this.geoLocalidad[0] = this.relacion.data.geo_localidad.latitud
      this.geoLocalidad[1] = this.relacion.data.geo_localidad.longitud
    } else {
      this.geoLocalidad[0] = 19.4023839
      this.geoLocalidad[1] = -99.1466904
    }
    await this.initmap()
    await this.set_inventarios()
    await this.map_espacios()
  },
  data () {
    return {
      relacion_tipo_card: '',
      show: false,
      card_datos: {
        pk: '',
        nombre: ''
      },
      modalConfig: {
        visible: false,
        // type: notify || confirm
        type: 'confirm',
        confirmText: 'Confirmar',
        cancelText: 'Cancelar',
        data_target: false,
        type_target: ''
      },
      ModalDeleteConfig: {
        visible: false,
        data_delete: false,
        type_target_delete: ''
      },
      geoLocalidad: [],
      Orientation:0,
      imgClass:{
        'card-img-top': true,
        'img-fluid': false,
        'mystyle90': false,
        'mystyle180': false,
        'mystyle0': false,
      },
      number: 5,
      columns: ['pk', 'relacion_tipo', 'name','descripcion', 'foto'],
      datos: [],
      markers: [],
      imagen: '',
      options: {
        filterByColumn: true,
        filterable: [
        ],
        headings: {
          pk: 'Pk',
          name: 'Nombre',
          relacion_tipo: 'Tipo',
          descripcion: 'Descripción'
        },
        perPage:50,
        perPageValues: [50,100],
        skin: 'table-default table-striped-default table-bordered-default table-hover-default'
      }
    }
  },
  methods: {
    async set_inventarios() {
      await this.$store.dispatch('get_relacion_inventarios', this.relacion.pk)
    },
    target_pk (n, data, relacion) {
      let index = n - 1
      this.stopMarkerAnimation()
      var img = document.getElementsByClassName('orientacion')[index]
      this.applyOrientation(img)
      this.modalConfig.data_target = data
      if (relacion === 'I') {
          this.modalConfig.type_target = 'I'
          if (data.data.foto[0]) {
            this.imagen = data.data.foto[0]
          }
          this.card_datos.nombre = data.data.tipo
        } else {
          if (relacion === 'L') {
            this.modalConfig.type_target = 'L'
          } else {
            this.modalConfig.type_target = 'E'
          }
          this.card_datos.nombre = data.nombre
          try {
            this.imagen = data.foto
          } catch (error) {
            this.imagen = ''
          }
        }
      this.card_datos.pk = data.pk
      this.show = true
      this.modalConfig.visible = true
      this.startMarkerAnimation(this.markers[index])

    },
    async delete_relacion (pk) {
      var data = {
        'pk_relacion_cliente': this.relacion.pk,
        'pk_inventario': pk
      }
      this.ModalDeleteConfig.visible = true
      this.ModalDeleteConfig.data_delete = data
      this.ModalDeleteConfig.type_target_delete = 'R'
      // await this.$store.dispatch('delete_relacion_inventario', data)
      // this.set_inventarios()
    },
    add () {
      this.$router.push({name: 'AnuncianteEspacios'})
    },
    regresar () {
      this.$router.push({path: '/'})
    },
    initmap () {
      var latitud = this.geoLocalidad[0]
      var longitud = this.geoLocalidad[1]
      var uluru = {lat: Number(latitud), lng: Number(longitud)}
      this.map = new google.maps.Map(document.getElementById('map'), {
        center: uluru,
        zoom: 14
      })
      if (this.relacion.data.geo_localidad.latitud) {
        this.marker = new google.maps.Marker({
          icon: 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png',
          position: uluru,
          draggable: false,
          map: this.map
        })
      }
    },
    map_espacios () {
      for (let i = 0; i < this.relaciones_inventarios.length; i++) {
        if (this.relaciones_inventarios[i].relacion_tipo === 'E') {
          let icon_espacio = 'http://maps.google.com/mapfiles/ms/icons/green-dot.png'
          let relacion_tipo = this.relaciones_inventarios[i].relacion_tipo
          this.map_marker(this.relaciones_inventarios[i].espacio, icon_espacio, i, relacion_tipo)
        } else if (this.relaciones_inventarios[i].relacion_tipo === 'L') {
          let icon_local = 'http://maps.google.com/mapfiles/ms/micons/orange-dot.png'
          let relacion_tipo = this.relaciones_inventarios[i].relacion_tipo
          this.map_marker(this.relaciones_inventarios[i].local, icon_local, i, relacion_tipo)
        } else {
          let relacion_tipo = this.relaciones_inventarios[i].relacion_tipo
          var icon_institucional = 'http://maps.google.com/mapfiles/ms/micons/purple-dot.png'
          this.map_marker(this.relaciones_inventarios[i].institucional, icon_institucional, i, relacion_tipo)
        }
      }
    },
    map_marker (datos, icon, i, relacion) {
      var point = datos
      var instance = this
      var uluru = {lat: Number(point.geo_localidad.latitud), lng: Number(point.geo_localidad.longitud)}
      var marker = new google.maps.Marker({
        icon: icon,
        position: uluru,
        draggable: false,
        map: instance.map
      })

      instance.markers.push(marker)

      marker.addListener('click', clickedImage)

      function clickedImage () {
        instance.stopMarkerAnimation()
        var img = document.getElementsByClassName('orientacion')[i]
        instance.applyOrientation(img)
        instance.modalConfig.data_target = point
        if (relacion === 'I') {
          instance.modalConfig.type_target = 'I'
          if (point.data.foto[0]) {
            instance.imagen = point.data.foto[0]
          }
          instance.card_datos.nombre = point.data.tipo
        } else {
          if (relacion === 'L') {
            instance.modalConfig.type_target = 'L'
          } else {
            instance.modalConfig.type_target = 'E'
          }
          instance.card_datos.nombre = point.nombre
          try {
            instance.imagen = point.foto
          } catch (error) {
            instance.imagen = ''
          }
        }
        instance.card_datos.pk = point.pk
        instance.show = true
        instance.startMarkerAnimation(marker)
      }
    },
    detalles () {
      this.modalConfig.visible = true
    },
    startMarkerAnimation (marker) {
      if (marker.getAnimation() !== null) {
        marker.setAnimation(null)
      } else {
        marker.setAnimation(google.maps.Animation.BOUNCE);
      }

      return true
    },

    stopMarkerAnimation () {
      var markers = this.markers
      for(var i = 0; i < markers.length; i++){
        markers[i].setAnimation(null)
      }

      return true
    },
    rotate_on_load($event){
      this.set_rotation($event.target, 0)
    },
    set_rotation(img, tag){
      var instance = this

      getExif(img, tag)

      function getExif(img, tag){
        var CeroGrados = "mystyle0"
        var NoventaGrados = "mystyle90"
        var CientoOchentaGrados ="mystyle180"
        EXIF.getData(img, function() {
          var data = EXIF.getAllTags(this);
          var ExifIFDPointer = EXIF.getTag(this, "ExifIFDPointer")
          var Orientation = EXIF.getTag(this, "Orientation")
          var arr = img.className.split(" ")
          if(Orientation){
            if(Orientation == 6){
              if(arr.indexOf(NoventaGrados) == -1){
                if(tag == 0){
                  img.className += " "+NoventaGrados
                }
                else if (tag == 1) {
                  instance.imgClass.mystyle90 = true
                }
              }
            }
            else if (Orientation == 1) {

            }
            else{
              if(arr.indexOf(CientoOchentaGrados) == -1){
                if(tag == 0){
                  img.className += " "+CientoOchentaGrados
                }
                else if (tag == 1) {
                  instance.imgClass.mystyle180 = true
                }
              }
            }
          }else{
            if(arr.indexOf(CeroGrados) == -1){
              if(tag == 0){
                img.className += " "+CeroGrados
              }
              else if (tag == 1) {
                instance.imgClass.mystyle0 = true
              }
            }
          }
        });
      }
    },
    card () {
      if(this.Orientation == 1){

        this.imgClass.mystyle0 = true

      }else if(this.Orientation == 3){

        this.imgClass.mystyle180 = true

      }else if(this.Orientation == 6){

        this.imgClass.mystyle90 = true
      }
    },
    applyOrientation (img) {
      var exifdata = img.exifdata
      if (!exifdata) {
        this.Orientation =1
      } else {
        this.Orientation = exifdata.Orientation
      }
      this.imgClass.mystyle90 = false
      this.imgClass.mystyle180 = false
      this.imgClass.mystyle0 = false
      this.imagen = img.src
    },
  }

}
</script>
<style scoped>

</style>
