<template>
    <div>
        <logo/>
        <div class="container margin-container">
          <h1 class="text-center">Campañas</h1>
            <div class="row justify-content-center justify-content-md-center justify-content-sm-center">
                <div class="col-12 col-sm-12 col-md-2 mt-4">
                    <button v-on:click="add" class="button">Añadir Campaña</button>
                </div>
            </div>
            <div class="row justify-content-center mt-5">
                <div class="col-sm-9">
                    <v-client-table :columns="columns" :data="relaciones" :options="options" v-if="relaciones">
                      <template slot="pk" slot-scope="props">
                        <a class="text-white ml-4" href="#" v-on:click="espacio(props.row.pk)">{{props.row.pk}}</a>
                      </template>
                      <template slot="sucursal" slot-scope="props">
                       <span class="ml-5"> {{props.row.sucursal}} </span>
                      </template>
                      <template slot="agregar" slot-scope="props">
                        <a href="#" v-on:click="agregar_espacio(props.row.pk)" class="text-white">Agregar espacios <i class="far fa-edit"></i></a>
                      </template>
                      <template slot="editar" slot-scope="props">
                        <a href="#" v-on:click="editar_campania(props.row.pk)" class="text-white">Editar campaña <i class="far fa-edit"><i></a>
                      </template>
                      <template slot="eliminar" slot-scope="props">
                        <a href="#" v-on:click="delete_campania(props.row.pk)" class="text-white">Eliminar <i class="far fa-trash-alt"></i></a>
                      </template>
                    </v-client-table>
                </div>
            </div>
            <ModalDelete v-bind:data="ModalDeleteConfig"></ModalDelete>
        </div>

    </div>
</template>
<script>
import Vue from 'vue'
import Logo from '@/components/Logo'
import { ClientTable } from 'vue-tables-2'
import { mapState } from 'vuex'
import ModalDelete from '@/components/ModalDelete'

Vue.use(ClientTable)
export default {
  name: 'TablaSucursal',
  components: {
    Logo,
    ModalDelete
  },
  computed: {
    ...mapState({
      relaciones: state => state.cliente_relaciones
    })
  },
  mounted () {
    this.get_cliente_relaciones()
  },
  data () {
    return {
      number: 5,
      columns: ['pk', 'name', 'agregar', 'editar', 'eliminar'],
      datos: [],
      ModalDeleteConfig: {
        visible: false,
        data_delete: false,
        type_target_delete: ''
      },
      options: {
        headings: {
          sucursal: 'Sucursal'
        },
        filterable: [],
        filterByColumn: false,
        skin: 'table-default table-striped-default table-bordered-default table-hover-default'
      }
    }
  },
  methods: {
    async get_cliente_relaciones () {
      await this.$store.dispatch('comun')
      await this.$store.dispatch('get_anunciante_relaciones')
      await this.$store.dispatch('cliente')
    },
    add () {
      this.$router.push({name: 'ClienteAddCampaña'})
    },
    async espacio (pk) {
      await this.$store.dispatch('get_relacion', pk)
      this.$router.push({name: 'SucursalEspacios'})
    },
    async agregar_espacio (pk) {
      await this.$store.commit('GEO_LOCALIDAD_RESET')
      await this.$store.dispatch('get_relacion', pk)
      this.$router.push({name: 'AnuncianteEspacios'})
    },
    async editar_campania (pk) {
      await this.$store.commit('GEO_LOCALIDAD_RESET')
      await this.$store.dispatch('get_relacion', pk)
      this.$router.push({name: 'ClienteEditCampania'})
    },
    async delete_campania (pk) {
      this.ModalDeleteConfig.visible = true
      this.ModalDeleteConfig.data_delete = pk
      this.ModalDeleteConfig.type_target_delete = 'C'
      // await this.$store.dispatch('delete_campana', pk)
      // await this.$store.dispatch('get_anunciante_relaciones')
      // this.datos = this.relaciones
    }
  }

}
</script>
<style scoped>

</style>
